/* font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6, button, input, textarea, select {
  font-family: 'Jost', sans-serif;
}

p, span, a, li, label {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* modal */
.modals {
  position: fixed;
  top: 0;
  left: 0;
  scale: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.modals.show {
  scale: 1;
  opacity: 1 !important;
  z-index: 9999 !important;

}